---
import Article from '../../components/Article.jsx'
import Cursos from '../../components/Cursos'
---
<head>
    <title>Mi página con Astro y React</title>
</head>
<body>
    <Article client:load />
    <Cursos client:load />
</body>
</html>